.container-dashboard {
  display: inline-flex;
  justify-content: center;
  width: 220px;
  border-right: 1px solid #ccc;
  height: 100vh;
  position:fixed;
  
}
.grid-dashboard {
  width: 100%;
  // max-width: 100%;
}
.dashboard {
  // background-color: ;
}
.brand-title {
  padding: 30px 12px !important;
}
.brand-title-link {
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}
.nav-item {
  margin-bottom: 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  &:hover {
    opacity: 0.8;
  }
}
.nav-item.nav-active {
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: -6px;
        right: -24px;
        width: 3px;
        height: calc(100% + 12px);
        background-color: var(--black-color);
    }
}
.nav-item-icon {
  font-size: 22px;
}
.nav-item-title {
  margin: 0 0 0 8px;
  font-size: 18px;
  font-weight: 400;
  color: var(--black-color);
}
//logout-btn
.logout-btn {
  margin-bottom: 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: var(--white-color);
  &:hover {
    opacity: 0.8;
  }
}