.footer-container {
  border-top: 1px solid var(--black-color);
  margin-top: 30px;
  // margin-bottom: 30px;
}
.footer-grid {

}
.footer-row {
  padding-top: 26px;
  padding-bottom: 26px;
  border-bottom: 1px solid var(--black-color);
}
//
.footer-item {
  font-weight: 500;
}
.title {
  margin: 4px 0;
  font-size: 20px;
  font-weight: 700;
  color: var(--black-color);
}
.help.footer-item ul li {
  margin-left: 18px;
  list-style: circle;
  .footer-link {
    margin-left: -3px;
  }
}
//css chung
.footer-item ul li {
  list-style: none;
  margin-top: 4px;
}

//css link chung
.footer-link {
  text-decoration: none;
  color: var(--black-color);
  &:hover {
    color: var(--primary-color);
  }
}
//social
.social-link{
  font-size: 16px;
  display: flex;
  align-items: center;
  color: var(--black-color);
  text-decoration: none;
  &:hover {
    color: var(--primary-color);
  }
  &:hover .footer-link {
    color: var(--primary-color);
    
  }
}
.social-icon {
  font-size: 20px;
  margin-right: 3px;
  margin-bottom: -2px;
}
//footer-all-rights
.footer-all-rights {
  text-align: center;
}
